<mat-card class="card mat-elevation-z8">
    <mat-card-header>
      <mat-card-title>Help Desk</mat-card-title>
      <mat-card-subtitle>Dicas de Um Dev</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="assets/img/home-image.svg" alt="Image Home HelpDesk">
    <mat-card-content>
      <p>
        Olá! Seja bem vindo ao sistema HelpDesk desenvolvido por mim no curso de Desenvolvedor Full Stack. <br/>
        Esse é um sistema de gerenciamento de chamados simulando um simples HelpDesk desenvolvido em Angular e 
        Spring Boot 2. <br/> O sistema está rodando na nuvem sendo o front no Railway e o Backend também no Railway. <br/>
        O projeto tem como objetivo principal abordar os conceitos de aplicações SPAs, Autenticação e Autorização, Tokens JWT
        e muito mais. O código fonte do projeto pode ser acessado clicando no link do Github no menu lateral. 
        <br/> At.te: Samuel de Melo
      </p>
    </mat-card-content>
  </mat-card>
  